<footer>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    
    <!-- À propos -->
    <div style="display: flex; flex-direction: column; justify-content: start; max-width: 300px; margin: 20px;">
      <h2>À propos</h2>
      <p  data-aos="fade-up"
     data-aos-duration="800">Weatherprime est une application de consultation météo précise et rapide. Notre objectif est de vous fournir les informations climatiques les plus fiables, où que vous soyez.</p>
    </div>

    <!-- Assistance -->
    <div style="display: flex; flex-direction: column; justify-content: start; max-width: 300px; margin: 20px;">
      <h2>Aide & Support</h2>
      <p  data-aos="fade-up"
     data-aos-duration="1150">Des questions ? Consultez notre FAQ ou contactez notre équipe. Nous sommes là pour vous aider à comprendre la météo et son impact sur votre quotidien.</p>
    </div>

    <!-- API & Données -->
    <div style="display: flex; flex-direction: column; justify-content: start; max-width: 300px; margin: 20px;">
      <h2>Données météo</h2>
      <p  data-aos="fade-up"
     data-aos-duration="1500">Nos prévisions sont basées sur l’API <a href="https://openweathermap.org" target="_blank">OpenWeatherMap</a>, une référence mondiale pour les données climatiques fiables et en temps réel.</p>
    </div>

  </div>

  <br>
  <div style="text-align: center;">
    <p>© {{ currentYear }} Weatherprime — Tous droits réservés</p>
    <p class="developer-info">Développé avec ❤️ par <a href="https://christiantuks.vercel.app" target="_blank" rel="noopener noreferrer">Christian Tukunda</a></p>
  </div>
</footer>
