<section class="apropos">
  <div class="container">
    <h1>À propos de Weatherprime</h1>
    <p  data-aos="fade-up"
     data-aos-duration="800">
      Weatherprime est une application météo moderne conçue pour offrir des prévisions précises, claires et accessibles à tous.
    </p>

    <h2>Notre mission</h2>
    <p  data-aos="fade-up"
     data-aos-duration="900">
      Offrir des données météorologiques fiables en temps réel à tous les utilisateurs, où qu'ils soient, grâce à une interface intuitive et un design épuré.
    </p>

    <h2>Pourquoi Weatherprime ?</h2>
    <ul>
      <li data-aos="fade-up"
     data-aos-duration="1000">✔️ Des prévisions heure par heure et sur 5 jours</li>
      <li data-aos="fade-up"
     data-aos-duration="1200">✔️ Une expérience fluide et rapide</li>
      <li data-aos="fade-up"
     data-aos-duration="1400">✔️ Des données issues de l’API OpenWeatherMap</li>
    </ul>

    <h2>Développeur</h2>
    <p  data-aos="fade-up"
     data-aos-duration="1100">
      Cette application a été développée par <strong>Christian Tukunda</strong>, passionné de développement web et d’expériences utilisateurs soignées.
    </p>
  </div>
</section>
